{% extends 'base.html' %}
{% load static %}
{% block content %}

<section style="margin: 1pc;" ><p >Africana is a fresh new company that focuses on the sale of traditional African sandals.This platform enables us to share our culture with the world.</p>
<section>We are dedicated to providing you with the best selection of stylish and comfortable sandals at affordable prices. Whether you're looking for a pair of sandals for a casual day out or a special occasion, we have something for everyone.

  At our sandal sale business, we understand the importance of finding the perfect pair of sandals that not only look great but also feel great on your feet. That's why we carefully curate our collection to offer a wide range of styles, colors, and sizes to suit every individual's taste and preference.
  
  Our team is passionate about footwear and stays up-to-date with the latest trends in the industry. We work closely with reputable manufacturers and suppliers to ensure that we offer high-quality sandals that are made to last. From classic designs to trendy and unique styles, we have options for every fashion-forward individual.
  
  When you shop with us, you can expect exceptional customer service. Our knowledgeable staff is always ready to assist you in finding the perfect pair of sandals that meet your needs. We understand that buying shoes online can sometimes be challenging, so we provide detailed product descriptions, size guides, and customer reviews to help you make an informed decision.
  
  We believe that everyone deserves to have access to stylish and comfortable footwear without breaking the bank. That's why we strive to offer competitive prices without compromising on quality. Our sandal sale events and promotions provide opportunities for our customers to enjoy even greater savings.
  
  Whether you're planning a beach vacation, attending a summer party, or simply want to update your shoe collection, our sandal sale business has got you covered. Explore our extensive range of sandals today and step into style and comfort!</section>
</section>
<!-- <video autoplay width="800" height="740" controls >
    <source src="{% static 'img/home.mp4' %}" type="video/mp4">
    <source src="{% static 'img/home.mp4' %}" type="video/ogg">
    Your browser does not support the video tag.
  </video> -->


{% endblock %}