{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="cart-header">
      <h1 ><button type="button" class="btn btn-default btn-lg">

</button>Your Cart</h1>
  </div>
  {% if contents %}
  <table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove Product</th>
            <th>Add Quantity</th>
            <th>Reduce quantity</th>
            <th>Total Price</th>
         
        </tr>
    </thead>
    <tbody>
        {% for item in contents %}
        
       <tr>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                
                <td>{{ item.product.price }}</td>
                
                 <td>   <form action="{% url 'polls:remove_from_cart' item.product.id %}" method="post">
                    {% csrf_token %}
                    <button class="remove-from-cart-btn" type="submit">Delete</button>
                    </form></td>
                    <td> <form action="{% url 'polls:addquantity' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button class="quantity-btn increase-quantity" type="submit">+</button>
                    </form></td>
                    <td><form action="{% url 'polls:reducequantity' item.product.id %}" method="post">
                        {% csrf_token %}
                        <button class="quantity-btn decrease-quantity" type="submit">-</button>
                    </form></td>
                    
                    <td> {{ item.total_price}}  </td>
                   
            </tr>   {% endfor %}
        
    </tbody>
    <tfoot><td>Total</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td><td>${{ total_price }}</td></tfoot>
 
                    {% endif %}
</table>

  <br><a class="checkout-button" href="{% url 'Blogs:checkout' %}">Checkout/Proceed to payment</a><br><br>

  
  <a class="continue-shopping-link" href="{% url 'polls:products' %}">Continue Shopping</a>
</div>

{% endblock %}





