<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
    <style>
        
        a{
            border: 1px solid #330c0c;
            padding: 3px;  
            
        }
        .container{
        width: 20%;
        }
        a:hover{
            background:#71c9b6 ;
        }
    </style>
  <link rel="apple-touch-icon" href="favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: #5b9b87;">
    <div class="container-fluid" style="color:#334880;height:100px; border: 3px solid #000;;"><h3> Welcome to the merchantpage.</h3>  <br><h5>Hello {{ user }}</h5>
        <div class="topright" style="position: absolute; top: 8px; right: 16px;font-size: 18px;"><a href="{% url 'polls:logout'%}" class="signup-tag" style="color: #571616;"> Log out</a></div></div>
    
    
    {% if messages %}

{% for message in messages %}
<div class="alert alert-success alert-dismissible">
    {{message}} 
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    
</div>
{% endfor %}

{% endif %}

<!-- The form begins here -->
{% if "Merchant" in group_names %}
        <div class="container">
            <center>
        <form action="{% url 'polls:addproduct' %}"  method="post" enctype="multipart/form-data" style="align-self:center;" >
            {% csrf_token %}
            <h1>Add new Product</h1>
            {{ form.as_p }}
            <input type="submit" value="Add Product">
        </form>
    </center>
        </div>

<br><br><br>
<h6>Click here to add another product</h6><a style="color: #330c0c;" href="{% url 'polls:addproduct' %}">Addproduct</a>
<br>

<h6>Click here to see previously added products   <a style="color: #330c0c;" href="{% url 'polls:productlist'%}">  Existing products</a></h6>
{% else %}
<div class="alert alert-danger alert-dismissible">

    <strong>Warning!</strong> This page is only authorized for Merchants only. Contact System admin to be verified.
  </div>
  Click here to go back to homepage <a href="{% url 'polls:home' %}">Homepage</a>
{% endif %}
</body>
</html>